<kie-server-state>
  <controllers>
    <string>http://localhost:8080/business-central/rest/controller</string>
  </controllers>
  <configuration>
    <configItems>
      <config-item>
        <name>org.kie.server.location</name>
        <value>http://localhost:8081/kie-server/rest/server</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.controller</name>
        <value>http://localhost:8080/business-central/rest/controller</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.id</name>
        <value>springfox</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.sb.cfg.cxf.path</name>
        <value>/rest</value>
        <type>java.lang.String</type>
      </config-item>
    </configItems>
  </configuration>
  <containers>
    <container>
      <containerId>pxxx_1.0.0-SNAPSHOT</containerId>
      <releaseId>
        <groupId>com.myspace</groupId>
        <artifactId>pxxx</artifactId>
        <version>1.0.0-SNAPSHOT</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STOPPED</status>
      </scanner>
      <configItems>
        <config-item>
          <name>KBase</name>
          <value></value>
          <type>BPM</type>
        </config-item>
        <config-item>
          <name>KSession</name>
          <value></value>
          <type>BPM</type>
        </config-item>
        <config-item>
          <name>MergeMode</name>
          <value>MERGE_COLLECTIONS</value>
          <type>BPM</type>
        </config-item>
        <config-item>
          <name>RuntimeStrategy</name>
          <value>SINGLETON</value>
          <type>BPM</type>
        </config-item>
      </configItems>
      <messages/>
      <containerAlias>pxxx</containerAlias>
    </container>
    <container>
      <containerId>itorders_1.0.0-SNAPSHOT</containerId>
      <releaseId>
        <groupId>itorders</groupId>
        <artifactId>itorders</artifactId>
        <version>1.0.0-SNAPSHOT</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STOPPED</status>
      </scanner>
      <configItems>
        <config-item>
          <name>KBase</name>
          <value></value>
          <type>BPM</type>
        </config-item>
        <config-item>
          <name>KSession</name>
          <value></value>
          <type>BPM</type>
        </config-item>
        <config-item>
          <name>MergeMode</name>
          <value>MERGE_COLLECTIONS</value>
          <type>BPM</type>
        </config-item>
        <config-item>
          <name>RuntimeStrategy</name>
          <value>PER_CASE</value>
          <type>BPM</type>
        </config-item>
      </configItems>
      <messages/>
      <containerAlias>itorders</containerAlias>
    </container>
  </containers>
</kie-server-state>