<kie-server-state>
  <controllers>
    <string>http://localhost:8080/business-central/rest/controller</string>
  </controllers>
  <configuration>
    <configItems>
      <config-item>
        <name>org.kie.server.location</name>
        <value>http://localhost:9000/kie-server/rest/server</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.sb.cfg.cxf.path</name>
        <value>/</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.id</name>
        <value>SpringBootxxx</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.controller</name>
        <value>http://localhost:8080/business-central/rest/controller</value>
        <type>java.lang.String</type>
      </config-item>
    </configItems>
  </configuration>
  <containers/>
</kie-server-state>